* {
  font-family: roboto;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F9FAF8;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: extra-bold;
}
h3 {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: normal;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header {
  background-color: #1f2937;
  border-width: 10px;
  border: 2px solid red;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 24px;
  border: 2px solid red;
}

.nav-menu a {
  text-decoration: none;
  color: #E5E7EB;
}

.nav-menu a:hover {
  color: #abadb1;
}

.hero-container-main {
  background-color: #1f2937;
  border: 2px solid red;
  display: flex;
  justify-content: center;
}

.hero-container-left {
  display: flex;
  border: 2px solid red;
  /* justify-content: flex-start; */
}

.hero-container-right {
  display: flex;
  border: 2px solid red;
  /* justify-content: flex-end; */
}
 .hero-container-right > img {
  max-width: 500px;
}