* {
  font-family: roboto;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1F2937;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}
h2 {
  font-size: 36px;
  color: #1F2937;
}
h3 {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
h4 {
  font-size: 18px;
  color: #ABADB1;
  font-weight: normal;
}
h5 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 700;
}

header {
  background-color: #1f2937;
  padding: 10px;
  overflow: ;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0px;
  max-width: 920px;
}
.header-container > h3 {
  padding-left: 15px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-self: flex-end;
  gap: 24px;
  /* border: 2px solid red; */
}
.nav-menu a {
  text-decoration: none;
}
.nav-menu h4:hover { 
  color: #F9FAF8;
}

.hero-container-main {
  background-color: #1f2937;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 80px 10px;
}
.hero-container-left {
  flex: 1 1 1;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  /* border: 2px solid red; */
  margin: 10px;
  padding: 10px;
}
.hero-container-left > h4 {
  margin: 5px 0px;
}
.hero-container-right {
  flex-shrink: 0;
  /* border: 2px solid red; */
  margin: 5px;
}
 .hero-container-right > img {
  max-width: 420px;
}

button {
  padding: 10px 35px;
  background-color: #3882F6;
  border-radius: 8px;
  border-color: #3882F6;
  border-style: none;
  font-size: 16px;
  color: #F9FAF8;
  font-weight: bold;
  text-decoration: none;
}
button > a {
  text-decoration: none;
  color: #F9FAF8;
}

.info-body {
  background-color:#F9FAF8;
  padding: 10px;
}
.info-header {
  flex: 1;
  justify-content: center;
  text-align: center;
  margin: 40px;
}
.info-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0px 0px 70px;
}
.info-content img {
  border: 2px solid #3882F6;
  border-radius: 10px;
  max-height: 120px;
}
.info-content-1, .info-content-2, .info-content-3, .info-content-4 {
  max-width: 120px;
}
.info-content h4 {
  font-size: 13px;
  text-align: center;
}